.content div .category {
  color:#969696;
  font-style: italic;
}

#searchZone {
  position:relative;
}

.menu {
  float:left;
  width:15%;
}

.results {
  margin-left: 20%;
  width:80%
}

.options {
  margin-top:5px;
  width:100%;
  position:relative;
}

.hitsSeparator{
  clear:right;
  margin-bottom:25px;
}
